<div class="fresh" fxLayout='column' fxLayout.gt-sm="row" fxFlexAlign="center" ngClass.sm=text>
    <div class="item--info" fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
      <div fxLayout='column' fxFlex.gt-sm="80%" class="item--info__content">
        <h2 class="item__title-banner"><strong> </strong> </h2>
        <span class="item__subtitle-banner" style=" font-family: Great Vibes">Organic</span>
        <p class="item__desc" fxFlex.gt-lg="60%">
          How your food is grown or raised can have a major impact on your
          mental and emotional health as well as the environment.
        </p>
        <div class="item__button">LEARN MORE</div>
      </div>
    </div>
    <div class="img" fxFlex="100%" fxFlex.gt-sm="50%" style="width: 100%; height: 550px;"></div>
  </div>