.fresh {
    .img {
      background-position: center center;
      background-size: cover;
      background-image: url("../../../../assets/images/salud_1.gif");
      align-items: center;
      align-content: center;
      .container{
        background: rgba(186, 206, 186, 0.3) ;
      }
    }
  }
 
  .card{
    width: 300px;
  }
  .section-save {
    padding: 20px;
    &__form {
      &-input {
        width: 100%;
        margin: 6px 0;
      }
    }
  }
.text{
  font-size: 15px;
  font-weight: bold;
}
.button{
  background-color:rgb(62, 192, 243);
  width: 200px;
  color: white;
}