<div fxLayout="column">

  <div class="fresh"  fxFlex="100%" fxLayout='column' fxLayout.gt-sm="row" fxFlexAlign="center center" ngClass.sm=text>
    <div class="item--info" fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
    <mat-card class="card" fxFlexAlign="center center">
      <mat-card-content  *ngFor = "let user of dataUser">
        <mat-card-title>nombre:{{user.name}}  </mat-card-title>
        <mat-card-subtitle>edad:{{user.age}} </mat-card-subtitle>
        <mat-card-subtitle>peso:{{user.weight}} </mat-card-subtitle>
        <mat-card-subtitle>altura:{{user.height}} </mat-card-subtitle>
        <mat-card-subtitle>IMC:{{ imc }} </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    </div>
  
    <div  class="img"  fxFlex="100%" fxFlex.gt-sm="50%" style="width: 100%; height: 550px;">
      <div class="container" fxFlex="100%" fxFlex.gt-sm="50%" fxLayoutAlign="center center">
      <mat-card style="max-width: 450px;">
        <mat-card-header fxLayout="column" fxLayoutAlign="center center">
          <mat-card-title style="margin: 20px 0">Ingresa IMC</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="form" class="section-save__form" fxLayout="column">
          
            <mat-form-field  class="section-save__form-input">
              <mat-label class="text">Peso kg.</mat-label>
              <input matInput formControlName="weight" type="number"/>
            </mat-form-field>
           
            <mat-form-field fxFlex.gt-xs="100px">
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Añadir fecha"
                formControlName="date" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="date.errors">
                <p *ngIf="date.errors?.required">
                  Fecha requerida
                </p>
              </mat-error>
            </mat-form-field>
             
            <mat-dialog-actions>
              <button fxLayoutAlign="center center" 
              mat-raised-button 
              class="button" 
              (click)="onSubmit()"
              >GUARDAR</button>
            </mat-dialog-actions>
          </form>
        </mat-card-content>
      </mat-card>
      </div>
    </div>
  </div>
  <!-- <graphic></graphic> -->
</div>



