<mat-toolbar style="height: auto; padding: 20px; font-size: inherit; white-space: normal;" fxLayout="column" fxLayoutAlign="start sretch"
    color="accent">
    <div fxLayout="column" fxLayoutAlign.gt-sm="space-between center" fxLayoutGap.lt-md="24px" fxLayout.gt-sm="row">
        <div fxFlex.gt-sm="20%" fxFlex="1 1 auto"  fxLayout="column">
            <span class="description">
                We build software and visual content that seamlessly fits your needs
            </span>
        </div>
        <div id="footer-columns" fxFlex.gt-sm="80%" fxFlex="1 1 auto" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="12px">
            <div fxFlex.gt-sm fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start center">
                <span class="section-header">CONTACT</span>
                <button mat-button>contact@mediomelon.mx</button>
                <button mat-button>Facebook</button>
                <button mat-button>LinkedIn</button>
            </div>
            <div fxFlex.gt-sm fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start center">
                <span class="section-header">NAVIGATE</span>
                <button mat-button>Home</button>
                <button mat-button>About us</button>
                <button mat-button>Services</button>
            </div>
            <div fxFlex.gt-sm fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start center">
                <span class="section-header">WORK</span>
                <button mat-button>Vacancies</button>
                <button mat-button>Open application</button>
            </div>
            <div fxFlex.gt-sm fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start center">
                <span class="section-header">MORE INFO</span>
                <button mat-button>FAQ</button>
                <button mat-button>Privacy policy</button>
                <button mat-button>Terms of service</button>
            </div>
        </div>
    </div>
    <div class="divider">
        <mat-divider style="border-top-color: #8c8c8c;"></mat-divider>
    </div>
    <div fxShow.gt-xs="true" fxHide fxLayout="row" fxLayoutAlign="space-between center">
        <span class="team">
            Made with
            <mat-icon style="vertical-align: middle;" aria-label="love" color="warn">
                favorite
            </mat-icon>
            by MedioMelón team - All rights reserved 2019
        </span>
    </div>
    <div fxShow.lt-sm="true" fxHide fxLayout="column" fxLayoutAlign="start center">
        <span class="team">
            Made with
            <mat-icon style="vertical-align: middle;" aria-label="love" color="warn">
                favorite
            </mat-icon>
            by MedioMelón team
        </span>
        <span class="team">All rights reserved 2019</span>
    </div>
</mat-toolbar>