
<form [formGroup]="form" fxLayout="column" class="container" fxLayoutAlign="center center">
  <h1 mat-dialog-title class="title">Registrarse</h1>

  <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign=" center">

      <mat-form-field appearance="legacy">
        <mat-label>Nombre</mat-label>
        <input formControlName="name" matInput placeholder="Nombre">
        <div class="form__input-error" *ngIf="nameControl.invalid && nameControl.touched">
          <p *ngIf="nameControl.errors?.required" class="m-0">
            Este campo es requerido
          </p>
        </div>
      </mat-form-field>

   <mat-form-field appearance="legacy">
     <mat-label>Edad</mat-label>
     <input class="container-2" formControlName="age" type="number" matInput placeholder="Edad">
     <div class="form__input-error" *ngIf="ageControl.invalid && ageControl.touched">
       <p *ngIf="ageControl.errors?.required" class="m-0">
         Este campo es requerido
       </p>
     </div>
   </mat-form-field>

</div>

<div fxLayout="row" fxLayout.lt-sm="column" >
  <mat-form-field appearance="legacy">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput placeholder="Email">
    <div class="form__input-error" *ngIf="emailControl.invalid && emailControl.touched">
      <p *ngIf="emailControl.errors?.required" class="m-0">
        Este campo es requerido
      </p>
      <p *ngIf="emailControl.errors?.email && !emailControl.errors?.required">
          Correo electrónico no es válido
      </p>
    </div>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label>Password</mat-label>
    <input formControlName="password" type="password" matInput placeholder="Password">
    <div class="form__input-error" *ngIf="passwordControl.invalid && passwordControl.touched">
      <p *ngIf="passwordControl.errors?.required" class="m-0">
         Este campo es requerido
      </p>
      <p *ngIf="passwordControl.errors?.minlength && !passwordControl.errors?.required">
          Contraseña debe tener al menos 6 caracteres
        </p>
    </div>
  </mat-form-field>
</div>

  <div fxLayout="row" fxLayout.lt-sm="column" >
    <mat-form-field appearance="legacy">
      <mat-label>Peso</mat-label>
      <input class="container-2" formControlName="weight" type="number" matInput placeholder="Peso">
      <div class="form__input-error" *ngIf="weightControl.invalid && weightControl.touched">
        <p *ngIf="weightControl.errors?.required" class="m-0">
          Este campo es requerido
        </p>
      </div>
    </mat-form-field>

    <mat-form-field appearance="legacy" fxLayoutAlign= "end">
      <mat-label>Altura</mat-label>
      <input class="container-2" formControlName="height" type="number" matInput placeholder="Altura">
      <div class="form__input-error" *ngIf="heightControl.invalid && heightControl.touched">
        <p *ngIf="heightControl.errors?.required" class="m-0">
          Este campo es requerido
        </p>
      </div>
    </mat-form-field>
  </div>

  <mat-dialog-actions fxLayoutAlign="space-around center">
    <button  mat-dialog-close  mat-stroked-button class="button">
      Cancelar
    </button>
    <button (click)="onSubmit()" mat-stroked-button class="button" [disabled]="form.invalid">
      Guardar
    </button>
  </mat-dialog-actions>
</form>
